@{
    ViewData["Title"] = "About";
}
<h2>Ledger!</h2>

<p>is a general ledger designed to manage household finances.</p>
<ul>
    <li> Ledger! allows you to record and categorize your transactions, and keep track of your financial account balances.</li>
    <li>Prepare and print custom reports to analyze your cashflow and spending patterns.</li>
    <li>Create custom charts to visualize your finances.</li>
</ul>
