@{
    ViewData["Title"] = "Contact";
}
<h2>Ledger!</h2>

<address>
    by<br />
    Christopher Carter<br />
    <br />
    christopher.carter.777@gmail.com<br />
    chriscarter777.github.io<br />
    (503)407-9500<br /><br />
</address>

<h4><address>
    <a href="mailto:christopher.carter.777@gmail.com"> email the Ledger! support team</a><br />
</address></h4>
